<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>Failed ad comment:  <%= @failed_ad.comment %></h3>
    <h4>Support/Oppose: <%=@failed_ad.suppopp%></h4>
    <h4>Candidate: <%=@failed_ad.candidate%></h4>
    <h4>Lat: <%=@failed_ad.lat%></h4>
    <h4>Long: <%=@failed_ad.long%></h4>
  </body>
</html>